.DS_Store
node_modules
.tmp
npm-debug.log
.terraform.lock.hcl
.git
.gitignore

#Terraform State Files
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.backup.d/*
.git 

#Terraform plan output 
tfplan

#terraform variables
**/terraform.tfvars

#terraform init files 
**/.terraform
